.overlay {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 94px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: $additional-white-color;
  font-family: $secondary-font;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}
